# Build directories
build/
out/
bin/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Visual Studio
.vs/
*.vcxproj
*.vcxproj.filters
*.sln
*.slnx

# Compiled objects
*.obj
*.pdb
*.ilk
*.lib
*.exp

# Executables
*.exe
*.dll

# Logs
*.log
*.tlog

# Generated protobuf
proto/market_data.pb.cc
proto/market_data.pb.h